body {
	background-color: #18457c;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #071e3a;
	margin: 0;
	padding: 0;
	max-height: 1024px;
	width: 100%;
	height: 100%;
}

.floatrightonly {
	float: right;
	margin: 0 0 0 100px;
}

.ui-mobile-viewport {
	max-height: 1024px !important;
	max-width: 768px;
}

.ui-mobile,.ui-mobile body {
	height: auto;
	width: 100%;
	max-height: 1024px !important;
}

#wrapper {
	width: 100%;
	height: 100%;
	min-height: 700px;
	overflow: hidden;
	position: absolute;
}

#homewrap {
	min-height: 100%;
	max-height: 1024px;
	overflow: hidden;
}

.username {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.headertext {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

#homemain {
	overflow: hidden;
	padding-bottom: 100px;
} /* must be same height as the footer */
#homefooter {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear: both;
}

#homefooterbtns {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#login_btn_div {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

#signup_btn_div {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

#login_with_fb_btn_div {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

#fbverify_pg_user {
	display: inline-block;
	width: 200px;
	}

#homefooterbtns {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.preview-weirdoid-name {
	width: 100%;
	font-weight: bold;
	font-size: 28px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

#preview-share-buttons {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#preview-canvas-div {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 230px;
	clear: both;
	position: relative;
	margin-left: auto;
}

#preview-share-canvas-div {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 230px;
	clear: both;
	position: relative;
}

#packlist {
	padding-top: 20px;
}

#buypreview {
	background-color: #000000;
	color: #999999;
}

#pack_preview_small {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#pack_preview_small img {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#pack_heading1 {
	font-weight: bold;
	font-size: 28px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

#pack_heading2 {
	font-weight: bold;
	font-size: 20px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

#pack_preview_text {
	font-weight: bold;
	font-size: 28px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

#pack_cost {
	font-weight: bold;
	font-size: 28px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

#pack_preview_buy_div {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	clear: both;
}

#pack_preview_large {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	clear: both;
}

#pack_preview_large img {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#btn_prev_head {
	background: transparent url('../imgs/btn_prev_head.png') no-repeat;
	position: absolute;
	left: 0;
	width: 50px;
	height: 100px;
	z-index: 100;
	top: 100px;
}

#btn_prev_head a {
	display: block;
	width: 50px;
	height: 100px;
}

.browser-nav-btn {
	
}

#btn_next_head {
	background: transparent url('../imgs/btn_next_head.png') no-repeat;
	position: absolute;
	right: 0;
	width: 50px;
	height: 100px;
	z-index: 100;
	top: 100px;
}

#btn_next_head a {
	display: block;
	width: 50px;
	height: 100px;
}

#btn_prev_body {
	background: transparent url('../imgs/btn_prev_body.png') no-repeat;
	position: absolute;
	left: 0;
	width: 50px;
	height: 100px;
	z-index: 100;
	top: 200px;
}

#btn_prev_body a {
	display: block;
	width: 50px;
	height: 100px;
}

#btn_next_body {
	background: transparent url('../imgs/btn_next_body.png') no-repeat;
	position: absolute;
	right: 0;
	width: 50px;
	height: 100px;
	z-index: 100;
	top: 200px;
}

#btn_next_body a {
	display: block;
	width: 50px;
	height: 100px;
}

#bands {
	z-index: 50;
	width: 100%;
	position: relative;
	height: 100%;
}

#band_wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#btn_done {
	position: absolute;
	right: 0;
	z-index: 2000;
	top: 450px;
	width: 200px;
	height: 75px;
}

#btn_random {
	position: absolute;
	right: 0;
	z-index: 2000;
	top: 550px;
	width: 200px;
	height: 75px;
}

#btn_name {
	background-color: #445564;
	position: absolute;
	right: 0;
	z-index: 100;
	top: 850px;
}

#wrapper_nav ul {
	margin: 0;
	padding: 0;
}

#wrapper_nav li {
	list-style: none;
	display: inline-block;
}

.nav_btn {
	background: transparent url('../imgs/nav_btn_bkgd.jpg') no-repeat;
	width: 150px;
	height: 80px;
}

.nav_btn_on {
	background: transparent url('../imgs/nav_btn_bkgd.jpg') no-repeat;
	background-position: 0 -80px;
	width: 150px;
	height: 80px;
}

.nav_icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	width: 150px;
	height: 80px;
	overflow: hidden;
}

.nav_icon a {
	display: block;
	height: 80px;
	width: 150px;
}

#nav_icon_1 {
	background-position: 0 0;
}

#nav_icon_2 {
	background-position: -150px 0;
}

#nav_icon_3 {
	background-position: -300px 0;
}

#nav_icon_4 {
	background-position: -450px 0;
}

#nav_icon_5 {
	background-position: -600px 0;
}

#build {
	height: 100%;
	width: 100%;
}

#home {
	height: auto;
	max-width: 768px;
	width: 100% ! important;
	max-height: 1024px ! important;
}

.bg {
	left: 0;
	position: auto;
	top: 0;
	width: 100%;
	z-index: 0;
}

#homediv {
	background: transparent url('../imgs/bkgd_home.jpg') no-repeat;
	/* 	width: 768px;
 */
	height: 100%;
	max-width: 768px;
	width: 100% ! important;
	max-height: 1024px ! important;
}

#btn_build {
	width: 200px;
	height: 75px;
	position: absolute;
	top: 400px;
}

#btn_vault {
	width: 200px;
	height: 75px;
	position: absolute;
	top: 500px;
}

#item_desc_div {
	width: 65%;
	padding-left: 20px;
}

#btn_packs {
	width: 200px;
	height: 75px;
	position: absolute;
	top: 600px;
}

.packcost {
	float: right;
	margin: 0 0 10px 10px;
}

#cost_str_div {
	float: right;
	width: 20%;
}

.center-wrapper {
	text-align: center;
}

.center-wrapper * {
	margin: 0 auto;
}

.center-button {
	margin: 0 auto;
}

.catalog-item {
	height: 80px;
	width: 60%;
	float: left;
}

.catalog-list-item {
	min-height: 75px;
}

#use_pack_div {
	width: 50%;
}

.preview-thumbnail {
	min-width: 80px;
	padding-right: 20px;
}

div.inline {
	float: left;
	margin: 0 0 10px 10px;
}

.inline {
	float: left;
	margin: 0 0 10px 10px;
}

#vaultgrid {
	
}

#confirm_clear_pg {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 500px;
	height: 200px;
	opacity: 50%;
	text-align: center;
	min-height: 300px !important;
	}
	
.vaultcanvas {
	cursor: pointer;
}

#vault ul {
	margin: 0;
	padding: 0;
}

#vault li {
	list-style: none;
	display: inline-block;
	width: 225px;
	height: 300px;
	background-color: #ccc;
}

#vault li img {
	width: 225px;
	height: 300px;
}

#vault .vaultcanvas-hidden {
	visibility: hidden;
}

#vault .ui-grid-b canvas {
	width: 100%;
	height: auto;
}

.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top: 80px !important;
}

.nav-glyphish-example .ui-btn .ui-icon {
	width: 100%;
	left: 0%;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.ui-custom-image {
	
}

#headbtn .ui-icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	background-position: 0 0;
	/*width: 150px;
	height: 80px;*/
	width: 100%;
	height: 100%;
}

#bodybtn .ui-icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	background-position: -150px 0;
	/*width: 150px;
	height: 80px;*/
	width: 100%;
	height: 100%;
}

#legbtn .ui-icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	background-position: -300px 0;
	/*width: 150px;
	height: 80px;*/
	width: 100%;
	height: 100%;
}

#xtrabtn .ui-icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	background-position: -450px 0;
	/*width: 150px;
	height: 80px;*/
	width: 100%;
	height: 100%;
}

#bkgdbtn .ui-icon {
	background: transparent url('../imgs/nav_icons.png') no-repeat;
	background-position: -600px 0;
	/*width: 150px;
	height: 80px;*/
	width: 100%;
	height: 100%;
}

.cycleimg {
	background: transparent;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
	/* IE8 */
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		= 
		 #00FFFFFF, endColorstr =   #00FFFFFF ); /* IE6 & 7 */
	zoom: 1;
	width: 100%;
	height: 100%;
	cleartype: true;
	cleartypeNoBg: false;
}

.cyclediv {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}